* {
  margin: 0;
  padding: 0;
}

.main-container {
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
}

.btn-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Shuffle Button */

#btn-shuffle {
  margin: 1rem;
  padding: 1rem;
  height: 4rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(8, 180, 8);
  color: rgb(255, 230, 0);
  border-radius: 6px;
}

#btn-shuffle:hover {
  background-color: rgb(51, 255, 0);
  color: rgb(255, 251, 4);
  cursor: pointer;
}

#btn-shuffle:active {
  background-color: rgb(74, 167, 75);
  transform: translateY(4px);
}

#btn-shuffle:disabled {
  background-color: rgb(255, 0, 34);
  color: rgb(255, 188, 4);
  opacity: 0.5;
}

/* Reset Button */

#btn-reset {
  margin: 1rem;
  padding: 0.5rem;
  width: 4rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(109, 109, 109);
  color: rgb(206, 206, 206);
  border-radius: 6px;
}

#btn-reset:hover {
  margin: 1rem;
  padding: 0.5rem;
  width: 4rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(47, 47, 47);
  color: rgb(206, 206, 206);
  cursor: pointer;
}

#btn-reset:active {
  background-color: rgb(37, 37, 37);
  transform: translateY(4px);
}

/* display div */

#display {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 2rem;
}

/* dealt card div */

#card-left {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}

#dealt-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 3rem;
  height: 2rem;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 6px;
  visibility: hidden;
}

#btn-deal {
  margin: 1rem;
  padding: 1rem;
  width: 8rem;
  height: 5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(9, 146, 200);
  color: rgb(0, 255, 242);
  border-radius: 6px;
}

#btn-deal:hover {
  background-color: rgb(9, 44, 200);
  color: rgb(4, 247, 255);
  cursor: pointer;
}

#btn-deal:active {
  background-color: rgb(74, 80, 167);
  transform: translateY(4px);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#btn-deal:disabled {
  opacity: 0.5;
}

#btn-deal:disabled:hover {
  background-color: rgb(9, 146, 200);
  color: rgb(0, 255, 242);
  cursor: not-allowed;
}

/* what to do div */

#description-container {
  justify-content: center;
  align-items: center;
  text-align: left;
}

#what-to-do {
  justify-content: center;
  padding-bottom: 0.25rem;
  margin: 0 auto;
  font-size: 1.5rem;
  color: white;
  align-items: center;
  text-align: center;
}

#description {
  border: 2px solid black;
  width: 40rem;
  height: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.376);
  margin: 0 auto;
  margin-bottom: 25%;
}

/* footer */

#footer-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: end;
  color: white;
  font-size: 1.5rem;
}

#footer-container a{
  text-decoration: none;
}

#footer-container a:hover{
  color: rgb(255, 208, 0);
}

/* media */

@media (max-width: 1200px) {
  body{
    width: 100%;
  }
  .main-container {
    width: 100%;
    margin: 0 auto;
  }

  #description {
    width: 30rem;
    height: 13rem;
    margin-bottom: 2rem;
  }
}



@media (max-width: 750px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
  }

  #description {
    width: 20rem;
    height: 10rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  } 

  #btn-shuffle{
    padding: 0.5rem;
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    display: block;
    position: absolute;
  }

  #btn-reset{
    padding: 0.5rem;
    font-size: 1rem;
    width: 4rem;
    height: 2.5rem;
    display: block;
    position: absolute;
    top: 3.5rem;
  }
  #btn-deal{
    padding: 0.5rem;
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    display: block;
    position: absolute;
    top: 6.5rem;
  }
  #dealt-card{
    font-size: 1rem;
    height: 1rem;
  }
  #footer-container{
    font-size: 0.75rem;
  }
  
  #card-left{
    font-size: 1rem;
  }

  #what-to-do{
    font-size: 1rem;
  }

}

@media (max-width: 480px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
  }

  #description {
    width: 18rem;
    height: 10rem;
  } 

  #btn-shuffle{
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 6rem;
    height: 3rem;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    position: static;
  }

  #btn-reset{
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 4rem;
    height: 2.5rem;
    margin: 0.5rem auto;
    position: static;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #btn-reset:hover{
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 4rem;
    height: 2.5rem;
    margin: 0.5rem auto;
    position: static;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #card-left{
    font-size: 1rem;
  }

  #what-to-do{
    font-size: 1rem;
  }

  #btn-deal{
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 6rem;
    height: 3rem;
    margin: auto;
    position: static;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #dealt-card{
    font-size: 1rem;
    height: 1rem;
  }
}

